<div class="col-sm-8 blog-main">
	<div class="blog-post">
		<%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary btn-xs" %>
		<h2 class="blog-post-title"><%= @blog.title %></h2>
		<%= @blog.body %>
	</div>
</div>

