<aside class="col-sm-3 ml-sm-auto blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>The day I don't learn anything new is a wasted day. </p>
  </div>
  <div class="sidebar-module">
    <h4>Find me on other sites: </h4>
    <ol class="list-unstyled increase-size">
      <li><%= link_to (fa_icon "github", text: "Github"), "https://github.com/bracikaa"%></li>
      <li><%= link_to (fa_icon "linkedin", text: "LinkedIn"), "https://ba.linkedin.com/in/mehmed-duhovic-7b066bb1" %></li>
    </ol>
  </div>
</aside>