<div class="blog-header">
	<div class="container">
	  <h1 class="blog-title">My Blog Page</h1>
	  <p class="lead blog-description">Obsessed is a word the lazy use to describe the dedicated.</p>
	  <%= link_to 'Write a New Blog', new_blog_path, class: 'btn btn-primary btn-lg' if show_to_admin?  %>
	</div>
</div>