<header class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand">Mehmed Duhovic</h3>
		<nav class="nav nav-masthead nav-spread">
			<!-- <a class="nav-link active" href="#">Home</a>
			<a class="nav-link" href="#">Features</a>
			<a class="nav-link" href="#">Contact</a> -->
			<%= nav_helper "nav-link", "span" %>	
          	<%= login_helper 'nav-link' %>
		</nav>
	</div>
</header>