
<h1>About Me</h1>
<div class="row">
	<div class="col-md-6">
		<%= image_tag "profile.jpg", width: 400, alt: "Profile picture" %>
	</div>
	<div class="col-md-6">
		<p>I am a recent university graduate and a software and web developer with more than 4 years of experience with a plethora of different programming languages including Java, C, C++, C#, and as of late my favorite - Ruby!</p>

		<p>Currently because of my line of work I'm mostly involved with Ruby on Rails and web development, but I also like Machine Learning, app development for mobile devices and Operating System building. I try to be top of my gave all the time, either by following the latest trends in the IT sector or by learning a cool new language or framework! </p>
	</div>

</div>


