
<h1>You want to contact me?</h1>
<div class= "row">

<div class="col-md-6">
	<h2>Address</h2>
	<p>Stupska bb</p>
	<h2>My Phone Number</h2>
	<p><%= number_to_phone "+387/062-795-323" %></p>
	<h2><%= link_to "LinkedIn", "https://ba.linkedin.com/in/mehmed-duhovic-7b066bb1" %></h2>
	<h2><%= link_to "Github", "https://github.com/bracikaa" %></h2>
	<h2>My email</h2>
	<p><a href="mailto:mehmed_duhovic@hotmail.com">Email me!</a></p>
</div>

<div class="col-md-6">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.6937588053333!2d18.322274750320904!3d43.841447379012806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758ca3164a8a6f7%3A0xc4905e95b5bcc2e2!2sStupska%2C+Sarajevo!5e0!3m2!1sbs!2sba!4v1510518775728" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>

