
	<!--<h1 class="cover-heading">Hi, <%= current_user.first_name %>.</h1> -->
	<h1 class="cover-heading">Welcome.</h1>
	<p class="lead">Writing code is my passion and development is a process that takes effort and work, and I give my best to realize all the requirements the user wants. </p>
	<p class="lead">
		<!--<a href="#" class="btn btn-lg btn-secondary">Learn more</a> -->
		<%= link_to "Learn More About Me", about_path, class: "btn btn-lg btn-secondary" %>
	</p>


