
      <div class="album text-muted">
        <div class="container">
        	<%= link_to "Create a new Portfolio Item", new_portfolio_post_path, class: "btn btn-primary" if show_to_admin? %>
          <div class="row">
            <%= render partial: "portfolio_item", collection: @portfolio_items %>
          </div>

        </div>
      </div>




